[Unit]
Description=Build Blog.

[Service]
User=User
Type=oneshot
WorkingDirectory=/var/www/blogbuild/
ExecStart=bash /var/www/blogbuild/BlogBuildScript.sh

[Install]
WantedBy=multi-user.target

